:root {
  --palette-c1: #FFFFFF;
  --palette-c2: #000000;
  --palette-c3: #E5E5E5; /* background */
  --palette-c4: #CACACA;
  --palette-c5: #FF9900; /* hover, focus  rgb(255 153 0) ->      */
  --palette-c6: #414141;
  --palette-c7: #E1670E;
  --palette-c8: #FFB84D;
  --palette-c9: #666666;
  --palette-c10:  #333333;

  --topmenu-right: 56.045%; /* flex basis */
  --topmenu-nav: 71.370%;   /* flex basis */
  --main-font: 'Montserrat', Arial, Verdana, sans-serif;
  --trtime: .3s;
}

body {
  min-width: 320px;
  background: var(--palette-c1);
  font-family: var(--main-font);
}

.container {
  max-width: 1920px;
  padding: 0 var(--container-hpad);
  margin: 0 auto;
}

.click-btn {
  display: inline-block;
  border: none;
  background-color: inherit;
  padding: 0;
}

/*****************************************/

/* general */

.sect-header {
  color: var(--palette-c2);
}

.article-header {
  padding-bottom: 8px;
}

.block-border {
  border-radius: 32px;
}

.def-btn {
  padding: 20px 38px;
  border-radius: 16px;
  border-style: none;
  width: fit-content;
  cursor: pointer;
  transition-property: background-color, border-color, color;
  transition-duration: var(--trtime);
  transition-timing-function: ease-in-out;
}

svg * {
  transition-property: fill, stroke, transform;
  transition-duration: var(--trtime);
  transition-timing-function: ease-in-out;
}

a {
  transition: color var(--trtime) ease-in-out;
}

input, textarea {
  transition-property: background-color, color;
  transition-duration: var(--trtime);
  transition-timing-function: ease-in-out;
}

.tran-color {
  transition: color var(--trtime) ease-in-out;
}

header {
  position: relative;
}

/* top menu  */

.top-menu {
  position: relative;
  padding-top: var(--menu-vpad);
  padding-bottom: var(--menu-vpad);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  background-color: var(--palette-c1);
}

/* TODO rename var */
.top-menu__logo {
  max-width: var(--logo-width);
  max-height: var(--logo-height);
}

.top-menu__burger {
  width: 30px;
  display: var(--disp-burger);
  z-index: 10;
}

.top-menu__right {
  flex-basis: var(--topmenu-right);
}

.top-menu__nav-item {
  position: relative;
  width: fit-content;
  z-index: 10;
}

.top-menu__nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  height: 2px;
  background-color: var(--palette-c5);
  opacity: 0;
  transform: scale(0);
  transition-property: opacity, transform, background-color;
  transition-duration: var(--trtime);
  transition-timing-function: ease-in-out;
}

.top-menu__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--palette-c10);
}

.burger-control {
  display: none;
  cursor: pointer;
}

.burger-control--active {
  display: block;
}

.top-menu__nav {
  flex-basis: var(--topmenu-nav);
}

.search-control {
  cursor: pointer;
  visibility: hidden;
}

.search-control--active {
  visibility: visible;
}

.search-svg {
  cursor: pointer;
}

.search-svg rect {
  fill: var(--palette-c5);
}

.search-svg path {
  stroke: var(--palette-c5);
}

.top-menu__search-box {
  position: absolute;
  visibility: hidden;
  min-width: 540px;
  padding: 18px 13px 18px 32px;
  right: 0;
  top: 20px;
  background: var(--palette-c1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  z-index: 10;
}

.top-menu__search-box--active {
  visibility: visible;
}

.top-menu__search-input {
  flex-basis: 83.25%;
  padding: 0;
  color: var(--palette-c4);
  border-style: none;
  border-bottom: 1px solid var(--palette-c4);
}

/* sections  */

.corousel {
  padding-top: var(--sect-pad);
}

.corousel__bullets-list {
  align-self: center;
  margin-top: -45px;
  margin-bottom: 30px;
  z-index: 1;
}

.corousel__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.corousel__header {
  color: var(--palette-c1);
}

.corousel__descr {
  color: var(--palette-c1);
  max-width: 790px;
}

.corousel__slide {
  display: none;
  min-height: var(--corousel-height-px);
  padding: var(--corousel-vpad-px) var(--corousel-hpad-px);
}

.corousel__btn {
  padding: 25px 39px;
  color: var(--palette-c1);
  background-color: var(--palette-c5);
}

.corousel__slide:nth-child(1) {
  background-image: var(--corousel-img1);
}

.corousel__slide:nth-child(2) {
  background-image: var(--corousel-img2);
}

.corousel__slide:nth-child(3) {
  background-image: var(--corousel-img3);
}

.corousel__text {
  min-height: var(--corousel-text-height-px);
}

.corousel__slide--active {
  display: flex;
  animation: fade-in 1s ease-in-out;
  /* animation: move-x-from-left_ .6s ease-in-out; */
}

.corousel__bullet--active circle {
  fill: var(--palette-c4);
}

.main-sect {
  padding-top: var(--sect-pad);
  padding-bottom: var(--sect-pad);
}

/* about us */

.about-us__descr {
  padding-top: var(--about-us__descr-pt);
  padding-bottom: var(--about-us__descr-pb);
  max-width: var(--about-us__descr_maxw);
  color: var(--palette-c2);
}

.about-us__card {
  flex-basis: 49.039%;
  min-width: 600px;
}

.about-us__btn {
  color: var(--palette-c1);
  border: 3px solid var(--palette-c5);
}

.about-us__btn-hidden {
  border: 2px solid var(--palette-c5);
  border-radius: 8px;
  color: var(--palette-c5);
  padding: 12px 44px;
  font-size: 12px;
  line-height: 15px;
}

.about-us__left-img {
  border-radius: 32px;
  background-image: var(--about-us__left-img1);
  min-height: var(--about-us__content-height-const);
}

.about-us__details-text {
  color: var(--palette-c1);
}

.about-us__details-block {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  color: var(--palette-c1);
}

.about-us__details-block-hidden {
  display: none;
}

.about-us__details-text {
  max-width: 433px;
}

.about-us__article {
  padding: 65px 100px 60px 300px;
  min-height: 295px;
  border: 1px solid var(--palette-c4);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 55px center;
}

.about-us__svg1 {
  background-image: var(--about-us-svg1);
}

.about-us__svg2 {
  background-image: var(--about-us-svg2);
}

/* how we work */

.how-we-work__content {
  min-height: var(--how-we-work__content-height);
}

.how-we-work__steps {
  max-width: 458px;
  padding: 50px 0 45px 0;
  flex-basis: var(--how-we-work__left-width);
}

.how-we-work__step {
  cursor: pointer;
}

.how-we-work__control {
  margin-right: 10px;
  cursor: pointer;
}

.how-we-work__control-img {
  width: 25px;
  height: 25px;
}

.how-we-work__cc {
  margin-top: -60px;
  align-self: center;
  padding: 10px 10px;
  height: 50px;
  background-color: var(--palette-c3);
  border-radius: 8px;
  z-index: 1;
}

.how-we-work__btn1 {
  color: var(--palette-c1);
  background-color: var(--palette-c5);
}

.how-we-work__btn2 {
  color: var(--palette-c2);
  border: 1px solid var(--palette-c2);
}

.how-we-work__left {
  flex-basis: var(--how-we-work__left-width);
}

.how-we-work__right {
  position: relative;
  flex-basis: var(--how-we-work__right-width);
  align-self: flex-end;
}

.how-we-work__left-text {
  display: none;
}

.how-we-work__right-img {
  display: none;
  min-height: var(--how-we-work__right-height);
}

.how-we-work__right-img--active {
  display: block;
  /* animation: fade-in 1s ease-in-out; */
}

.how-we-work__left-text--active {
  display: block;
  /* animation: move-x-from-left .5s ease-in-out; */
}

.how-we-work__right-img:nth-child(1) {
  background-image: var(--how-we-work__right-img1);
}

.how-we-work__right-img:nth-child(2) {
  background-image: var(--how-we-work__right-img2);
}

.how-we-work__right-img:nth-child(3) {
  background-image: var(--how-we-work__right-img3);
}

.how-we-work__right-img:nth-child(4) {
  background-image: var(--how-we-work__right-img4);
}

.how-we-work__content--active {
  display: block;
}

.ffplaystop-control {
  display: none;
}

.ffplaystop-control--active {
  display: block;
}

.how-we-work__step--active {
  color: var(--palette-c7);
}

/* faq */

.faq__sect-header {
  padding-bottom: 32px;
}

.faq__header {
  max-width: 82%;
}

.faq__details {
  position: relative;
  padding: 31px 0;
  border-top: 1px solid var(--palette-c4);
  border-bottom: 1px solid var(--palette-c4);
  margin-bottom: -1px;
  transition: border-color var(--trtime) ease-in-out;
}

.faq__question {
  transition: color var(--trtime) ease-in-out;
  cursor: pointer;
  list-style: none;
}

.faq__question .faq__crest {
  transition: transform var(--trtime) ease-in-out;
}

.faq__text {
  padding-top: 20px;
  max-width: 56.666%;
}

.faq__question-details {
  display: none;
}

.faq__question-details--active {
  display: block;
  animation: fade-in var(--trtime) ease-in-out;
}

.faq__crest--active{
  transform: rotate(45deg);
}

/* footer  */

.footer {
  padding-top: 50px;
}

.footer__wrap {
  padding: 50px 0 47px 0;
  background-color: var(--palette-c2);
}

.footer__header {
  color: var(--palette-c4);
}

.footer__nav-item {
  color: var(--palette-c4);
}

.footer__msg {
  max-height: 150px;
}

.footer__logo-wrap {
  max-width: fit-content;
}

.footer__btn-wrap {
  padding-top: 7px;
}

.footer__col {
  /* 494px; maket*/
  min-height: 498px;
}

.footer__left {
  flex-basis: 28%;
}

.footer__right {
  flex-basis: 66.045%;
}

.footer__right-c1 {
  flex-basis: 48.759%;
  min-width: 415px;
}

.footer__right-c2 {
  flex-basis: 31.052%;
  color: var(--palette-c4);
}

.footer__social {
  max-width: fit-content;
}

.footer__social-link {
  display: inline-block;
  height: fit-content;
}

.footer__input {
  background: var(--palette-c6);
  border-radius: 16px;
  color: var(--palette-c4);
  padding: 14px 24px;
  border-style: none;
  resize: none;
}

.footer__btn {
  align-self: center;
  padding: 19px 52px;
  color: var(--palette-c1);
  background-color: var(--palette-c5);
}

.footer__right-text {
  color: var(--palette-c4);
}

.footer__form {
  padding-top: 25px;
}

/* helpers  */

.gaps-32x32 {
  gap: 32px;
}

.gaps-25x25 {
  gap: 25px;
}

.gaps-24x24 {
  gap: 24px;
}

.gaps-15x15 {
  gap: 15px;
}

.gaps-10x10 {
  gap: 10px;
}

.gaps-20x20 {
  gap: 20px;
}
